/* Main title css
============================================================================================ */
.header_top_area{
    padding-bottom: 50px;
       
}
.top_header_left{
    padding-top: 20px;
    .selector{
        max-width: 105px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        .ddcommon{
            max-width: 105px;
            box-shadow: none !important;
            outline: none;
            cursor: pointer;
            .ddTitle{
                .ddTitleText {
                    img{
                        padding-right: 10px;
                    }
                    span{
                        font-size: 13px;
                        color: #000;
                        font-family: $pop;
                        letter-spacing: .325px;
                    }
                }
                .ddArrow{
                    &:before{
                        content: "\f107";
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 14px;
                        color: #000;
                        float: right;
                        position: relative;
                        right: 16px;
                        line-height: 25px;
                    }
                }
            }
            .ddChild{
                background: #fff;
                max-width: 105px;
                width: 100%;
                ul{
                    width: 100%;
                    li{
                        line-height: 30px;
                        padding: 0px 10px;
                        img{
                            padding-right: 10px;
                        }
                        span{
                            font-size: 13px;
                            color: #000;
                            font-family: $pop;
                            letter-spacing: .325px;
                        }
                    }
                }
            }
        } 
        &:before{
            content: "";
            height: 13px;
            width: 1px;
            background: #000;
            position: absolute;
            right: 4px;
            top: 5px;
        }
    }
    .input-group{
        display: block;
        position: relative;
        margin-top: 30px;
        input{
            width: 100%;
            border-radius: 0px;
            border: 1px solid #e5e5e5;
            height: 50px;
            padding: 0px 30px;
            outline: none;
            box-shadow: none;
            @include placeholder{
                font-size: 14px;
                color: $pfont;
                font-family: $pop;
                letter-spacing: .35px;
            }
            &:focus{
                border-color: #000;
            }
        }
        .input-group-btn{
            position: absolute;
            right: 20px;
            top: 51%;
            transform: translateY(-50%);
            z-index: 3;
            .btn-secondary{
                background: transparent;
                padding: 0px;
                border: none;
                color: #000;
                font-size: 15px;
                margin: 0px;
            }    
        }
    }
} 

.usd_select.bootstrap-select{
    max-width: 64px;
    display: inline-block;
    width: 64px !important;
    .dropdown-toggle{
        padding: 0px 0px 0px 5px;
        border: none;
        margin: 0;
        outline: none !important;
        box-shadow: none !important;
        background: transparent;
        span{
            font-family: $pop;
            color: #000;
            font-size: 13px;
            letter-spacing: .325px;
        }
        &:after{
            content: "\f107";
            font: normal normal normal 14px/1 FontAwesome;
            color: #000;
            border: none;
            position: relative;
            right: 28px;
        }
    }
    .dropdown-menu{
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        .dropdown-menu.inner{
            display: block;
            padding: 0px;
            li{
                a{
                    font-family: $pop;
                    color: #000;
                    font-size: 13px;
                    letter-spacing: .325px;
                    padding-left: 5px;
                    display: block;
                }
                &:hover{
                    a{
                        background: #ebebeb;
                    }
                }
            }
        }
    }
}

.top_header_middle{
    text-align: center; 
    a{
        font-size: 13px;
        font-family: $pop;
        color: $pfont;
        font-weight: normal;
        margin-right: 20px;
        position: relative;
        display: inline-block;
        line-height: 54px;
        &:before{
            content: "|";
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
            color: #333;
        }
        i{
            padding-right: 5px;
        }
        span{
            color: #333;
            font-weight: 600;
        }
        & + a{
            margin-right: 0px;
            &:before{
                display: none;
            }
        }
    }
    img{
        margin-top: 25px; 
    }
}
.top_right_header{
    text-align: right;
}
.header_social{
    li{
        display: inline-block;
        margin-right: 14px;
        a{
            font-size: 14px;
            color: #000;
            line-height: 54px;
            @include transition;
        }  
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            a{
                color: #cccccc;
            }    
        }
    }
}
.top_right{
    margin-top: 14px;
    li{
        display: inline-block;
        a{
            font-size: 24px;
            border: 1px solid #cccccc;
            color: #333333;
            text-align: center;
            display: inline-block;
            line-height: 48px;
            padding: 0px 16px;
        }
        &.user{
            margin-right: 7px;
        }
       
        &.h_price{
            .bootstrap-select{
                width: 100px !important;
                border: 1px solid #cccccc;
                line-height: 48px;
                vertical-align: bottom;
                position: relative;
                top: 8px;
                border-left: 0px;
                .dropdown-toggle{
                    padding: 0px 15px 0px 15px;
                    outline: none !important;
                    box-shadow: none !important;
                    background: transparent;
                    vertical-align: top;
                    span{
                        font-size: 14px;
                        color: #333333;
                        font-family: $pop;
                        font-weight: 600;
                        line-height: 46px;
                    }
                    &:after{
                        content: "\f107";
                        font: normal normal normal 14px/1 FontAwesome;
                        border: none;
                        color: #000;
                        right: 20px;
                        position: relative;
                        top: 4px;
                    }
                } 
                .dropdown-menu{
                    padding: 0px;
                    border-radius: 0px;
                    margin-top: 0px;
                    .dropdown-menu.inner{
                        display: block;
                        li{
                            display: block;
                            a{
                                line-height: 35px;
                                border: none;
                                font-size: 14px;
                                color: #333333;
                                font-family: $pop;
                                font-weight: 600;
                                display: block;
                                @include transition;
                            }
                            &:hover{
                                a{
                                    background: #f8f9fa;
                                }
                            }
                        }
                    }
                }
            }
        }    
    }    
}

.shop_header_area{
    .navbar{
        padding: 0px;
        background-color: transparent !important;
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid $baseColor;
        .navbar-brand{
            display: none;
        }
        .navbar-nav.categories{
            min-height: 70px;
            li{
                border-right: 2px solid #eee;
                text-align: center;
                margin-left: 0px !important;
                .bootstrap-select{
                    width: 265px !important;
                    text-align: center;
                    line-height: 70px;
                    .btn-default{
                        padding: 0px;
                        margin: 0px;
                        border: none;
                        padding-left: 50px;
                        outline: none !important;
                        box-shadow: none !important;
                        background: transparent;
                        span{
                            font-size: 14px;
                            font-family: $mon;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: .7px;
                            line-height: 68px;
                        }
                        &:after{
                            content: "\f107";
                            font: normal normal normal 14px/1 FontAwesome;
                            color: #000;
                            border: none;
                            position: relative;
                            right: 106px;
                            margin: 0px;
                            font-weight: bold;
                            top: 3px;
                        }
                    }
                    .dropdown-menu{
                        padding: 0px;
                        border-radius: 0px;
                        .dropdown-menu.inner{
                            display: block;
                            li{
                                display: block;
                                border-right: 0px;
                                a{
                                    text-align: left;
                                    display: block;
                                    padding: 0px 15px;
                                    line-height: 40px;
                                    font-size: 14px;
                                    font-family: $pop;
                                    color: $pfont;
                                    @include transition;
                                }
                                &:hover{
                                    a{
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-nav{
            li{
                margin-right: 40px;
                a{
                    padding: 0px;
                    line-height: 70px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: $mon;
                    font-weight: bold;
                    color: #000;
                    @include transition;
                    &:after{
                        display: none;
                    }
                    i{
                        padding-left: 6px;
                    }
                }
                &:first-child{
                    margin-left: 60px;
                }
                &:last-child{
                    margin-right: 0px;
                }
                &:hover, &.active{
                    a{
                        color: $baseColor;
                    }    
                }
                &.submenu{
                    .dropdown-menu{
                        @media(min-width: 992px){
                            transform: scaleY(0);
                            transition: all 400ms ease-out;
                            display: block;
                            transform-origin: 50% 0;
                            min-width: 250px;
                            background: #171717;
                            border-radius: 0px;
                            border: none;
                            padding: 30px 0px 30px 0px;
                            box-shadow: none;
                            visibility: hidden;
                        }
                        li{
                            margin-right: 0px;
                            display: block;
                            margin-left: 0px;
                            a{
                                display: block;
                                line-height: 38px;
                                color: #fff;
                                font-family: $mon;
                                letter-spacing: .48px;
                                font-size: 14px;
                                padding: 0px 30px;
                                text-transform: inherit;
                                @include transition;
                                font-weight: normal;
                                text-shadow: none;
                            }
                            &:hover, &.active{
                                a{
                                    color: $baseColor;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    @media(min-width: 992px){
                        &.submenu{
                            .dropdown-menu{
                                transform: scaleY(1);
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }    
}

/* Main title css
============================================================================================ */

/* Carousel Header css
============================================================================================ */
.carousel_top_header{
    
}
.carousel_top_h_inner{
    display: block;
}
.carousel_menu_area{
}
.carousel_menu_inner{
    .navbar{
        padding: 20px 0px 20px 0px;
        border-bottom: none;
        .navbar-brand{
            display: inline-block;
        }
        .navbar-nav.justify-content-end{
            li{
                margin: 0px;
                text-align: center;
                margin-right: 10px;
                a{
                    font-size: 20px;
                    border: 1px solid #cccccc;
                    color: #333333;
                    text-align: center;
                    display: inline-block;
                    line-height: 48px;
                    padding: 0px 20px;
                    @include transition;
                    i{
                        padding-left: 0px;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
                &:hover{
                    a{
                        border-color: $dip;
                        color: $dip;
                    }
                }
            }
        }
    }
}
.cart_cart{
    a{
        position: relative;
        &:before{
            content: "0";
            height: 20px;
            width: 20px;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-family: $pop;
            font-size: 12px;
            position: absolute;
            font-weight: normal;
            right: 6px;
            bottom: 6px;
            background: $baseColor;
            line-height: 20px;
        }
    }
}
/* End Carousel Header css
============================================================================================ */

/* End Carousel Header css
============================================================================================ */
.fullwidth_menu{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    z-index: 30;
    .carousel_menu_inner{
        .navbar{
            border: none;
            .navbar-brand{
                padding-top: 0px;
            }
            .collapse{
                text-align: center;
            }
            .navbar-nav.mr-auto{
                display: block;
                width: 100%;
                text-align: center;
                li{
                    display: inline-block;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
            .navbar-nav.justify-content-end{
                li{
                    a{
                        border-color: #92c1c4;
                    }
                }
            }
        }
    }
}
/* End Carousel Header css
============================================================================================ */

/* End Carousel Header css
============================================================================================ */
.parallax_menu{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px 80px;
    width: 100%;
    z-index: 30;
    .carousel_menu_inner{
        .navbar{
            border: none;
            .navbar-brand{
                padding-top: 0px;
                
            }
            .collapse{
                text-align: right;
            }
            .navbar-nav.mr-auto{
                display: block;
                width: 100%;
                text-align: right;
                li{
                    display: inline-block;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
            .navbar-nav.justify-content-end{
                margin-left: 60px;
                li{
                    a{
                        border: none;
                        padding: 0px;
                        margin-right: 20px;
                        &:before{
                            right: -12px;
                        }
                    }
                    &:last-child{
                        a{
                            margin-right: 0px;
                            
                        }
                    }
                }
            }
        }
    }
}
/* End Carousel Header css
============================================================================================ */

/* Home Box menu css
============================================================================================ */
.black_top_header{
    background: #333333;
    .selector{
        position: relative;
        top: -4px;
        .ddcommon{
            .ddTitle{
                .ddTitleText {
                    span{
                        color: #fff;
                    }
                }
                .ddArrow{
                    &:before{
                        color: #fff;
                    }
                }
            }
            .ddChild{
                background: #fff;
            }
        } 
        &:before{
            content: "";
            height: 13px;
            width: 1px;
            background: #fff;
            position: absolute;
            right: 4px;
            top: 5px;
        }
    }
    .usd_select.bootstrap-select{
        position: relative;
        top: -3px;
        .dropdown-toggle{
            background: transparent;
            span{
                color: #fff;
            }
            &:after{
                color: #fff;
            }
        }
    }
}
.account_list{
    li{
        display: inline-block;
        margin-right: 20px;
        &:last-child{
            margin-right: 0px;
        }
        a{
            font-size: 13px;
            font-family: $pop;
            font-weight: 500;
            color: #fff;
            letter-spacing: .325px;
            line-height: 46px;
            @include transition;
        }
        &:hover{
            a{
                color: $baseColor;
            }
        }
    }
}

/* End Home Box menu css
============================================================================================ */

/* Fixed Offcanvas menu css
============================================================================================ */
.home_left_main_area{
    display: flex;
    flex-wrap: wrap;
    .left_menu{
        max-width: 15.65%;
        flex: 0 0 15.65%;
        background: #1e1e1e;
        min-height: 100vh;
    }
    .right_body{
        max-width: 84.35%;
        flex: 0 0 84.35%;
        background: #f0f0f0;
    }
}
.offcanvas_fixed_menu{
    padding: 60px 0px;
    .top_header_left{
        text-align: center;
        .selector{
            position: relative;
            top: -4px;
            .ddcommon{
                .ddTitle{
                    text-align: left;
                    .ddTitleText {
                        span{
                            color: #fff;
                        }
                    }
                    .ddArrow{
                        &:before{
                            color: #fff;
                        }
                    }
                }
                .ddChild{
                    background: #fff;
                }
            } 
            &:before{
                content: "";
                height: 13px;
                width: 1px;
                background: #fff;
                position: absolute;
                right: 4px;
                top: 5px;
            }
        }
        .usd_select.bootstrap-select{
            position: relative;
            top: -3px;
            .dropdown-toggle{
                background: transparent;
                span{
                    color: #fff;
                }
                &:after{
                    color: #fff;
                }
            }
        }
    }
    .logo_offcanvas{
        padding: 60px 0px 55px 0px;
        display: block;
        text-align: center;
    }
    .search_form{
        display: block;
        position: relative;
        margin-bottom: 55px;
        max-width: 200px;
        margin: 0px auto 55px;
        input{
            width: 100%;
            border-radius: 0px;
            border: 1px solid #4b4b4b;
            background: transparent;
            height: 50px;
            padding: 0px 30px 0px 15px;
            outline: none;
            box-shadow: none;
            font-size: 14px;
            color: #fff;
            font-family: $pop;
            font-weight: normal;
            letter-spacing: .35px;
            @include placeholder{
                font-size: 14px;
                color: #fff;
                font-family: $pop;
                font-weight: normal;
                letter-spacing: .35px;
            }
        }
        .input-group-btn{
            margin: 0px;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
        }
        .btn.btn-secondary{
            padding: 0px;
            border: none;
            border-radius: 0px;
            background: transparent;
        }
    }
}
.offcanvas_menu{
    .nav{
        li{
            a{
                display: block;
                font-size: 14px;
                font-weight: 600;
                font-family: $pop;
                color: $pfont;
                letter-spacing: 1.05px;
                text-transform: uppercase;
                line-height: 48px;
                padding: 0px 50px;
                @include transition;
                &:after{
                    display: none;
                }    
                i{
                    float: right;
                    line-height: 48px;
                    position: relative;
                    left: 0px;
                    @include transition;
                }
            }
            &:hover{
                a{
                    color: #fff;
                    i{
                        left: 5px;
                    }
                }
            }
            &.side_menu{
                position: inherit;
                .dropdown-menu{
                    @media(min-width: 992px){
                        position: fixed; 
                        left: 15%;
                        display: block;
                        top: 0px;
                        height: 100%;
                        background: #141414;
                        min-width: 276px;
                        border: none;
                        border-radius: 0px;
                        margin: 0px;
                        padding-top: 365px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 400ms ease-out;
                        box-shadow: none;
                        z-index: 5;
                    }
                    li{
                        a{
                            line-height: 45px;
                            font-weight: 500;
                            font-size: 11px;
                            padding: 0px 20px 0px 20px;
                            text-transform: uppercase;
                            @include transition;
                            display: block;
                            color: #6f6f6f;
                            font-family: $mon;
                            text-align: left;
                            &:before{
                                display: none;
                            }
                            i{
                                position: absolute;
                                top: 50%;
                                left: 25px;
                                transform: translateY(-50%);
                                @include transition;
                            }
                            &:before{
                                display: none;
                            }
                        }
                        &:hover{
                            a{
                                color: #fff;
                                i{
                                    left: 20px;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    > .dropdown-menu{
                        @media(min-width: 992px){
                            opacity: 1;
                            visibility: visible;
                            left: 15.65%;
                        }
                    }
                }
            }
        }
    }
}
.cart_list{
    margin-top: 70px;
    ul{
        text-align: center;
        border: 1px solid #4b4b4b;
        max-width: 160px;
        margin: auto;
        vertical-align: middle;
        li{
            display: inline-block;
            &.cart_icon{
                vertical-align: top;
                a{
                    color: #fff;
                    font-size: 24px;
                    line-height: 48px;
                    display: inline-block;
                    position: relative;
                    &:before{
                        content: "";
                        height: 100%;
                        width: 1px;
                        background: #4b4b4b;
                        position: absolute;
                        right: -18px;
                        top: 0px;
                    }
                    &:after{
                        content: "0";
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        text-align: center;
                        color: #fff;
                        font-family: $pop;
                        font-size: 12px;
                        position: absolute;
                        right: -8px;
                        bottom: 5px;
                        background: #d91522;
                        line-height: 20px;
                    }
                }
            }
            &.h_price{
                .bootstrap-select{
                    width: 100px !important;
                    border: none;
                    line-height: 48px;
                    vertical-align: bottom;
                    position: relative;
                    border-left: 0px;
                    left: 13px;
                    .dropdown-toggle{
                        padding: 0px 15px 0px 15px;
                        outline: none !important;
                        box-shadow: none !important;
                        background: transparent !important;
                        span{
                            font-size: 14px;
                            color: #fff;
                            font-family: $pop;
                            font-weight: 600;
                            line-height: 46px;
                        }
                        &:after{
                            content: "\f107";
                            font: normal normal normal 14px/1 FontAwesome;
                            border: none;
                            color: #fff;
                            right: 20px;
                            position: relative;
                            top: 4px;
                        }
                    } 
                    .dropdown-menu{
                        padding: 0px;
                        border-radius: 0px;
                        margin-top: 0px;
                        .dropdown-menu.inner{
                            display: block;
                            li{
                                display: block;
                                a{
                                    line-height: 35px;
                                    border: none;
                                    font-size: 14px;
                                    color: #333333;
                                    font-family: $pop;
                                    font-weight: 600;
                                    display: block;
                                    @include transition;
                                }
                                &:hover{
                                    a{
                                        background: #f8f9fa;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.shop_header_area.fixed_tb_menu{
    display: none;
}

.carousel_top_header.black_top_header{
    .top_header_left{
        padding-top: 13px;
    }
}
/* End Fixed Offcanvas menu css
============================================================================================ */